<tr>
  <td><%= field.label %></td>
  <td>
    <%= form_for field, :remote => true, :format => :json, :html => { :class => "slim change-category" } do |f| %>
      <%= f.collection_select :category_id, @categories, :id, :label, :prompt => true,   %>
      <%= f.submit :style => 'display:none', :class => 'submit' %>
    <% end %>
  </td>
  <td>
    <%= form_for field, :remote => true, :format => :json, :html => { :class => "slim change-fieldtype" } do |f| %>
      <%= f.collection_select :field_type_id, @fieldtypes, :id, :label, :prompt => true,   %>
      <%= f.submit :style => 'display:none', :class => 'submit' %>
    <% end %>
  </td>
  <td><%= link_to 'Delete', field, :remote => true, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini delete-field-button' %></td>
</tr>