<% content_for :top_javascript do %>
  <%= javascript_include_tag "jquery-upload" %>
<% end %>
<% content_for :sidebar do %>
  <%= render 'admin/themes/sidebar' %>
<% end %>
<% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li><a href="#">Themes</a> <span class="divider">/</span></li>
    <li class="active">Upload Assets</li>
  </ul>
<% end %>
<div class="block">
  <h1>Upload Assets</h1>
  <%= form_for Admin::Asset.new, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
    <div class="row">
      <div class="span16 fileupload-buttonbar">
        <div class="progressbar fileupload-progressbar nofade"><div style="width:0%;"></div></div>
        <span class="btn success fileinput-button">
          <span>Add...</span>
          <%= f.file_field :file, :multiple => true %>
          <%= f.hidden_field :theme_id, :value => @theme.id %>
        </span>
        <button type="submit" class="btn primary start">Start</button>
        <button type="reset" class="btn info cancel">Cancel</button>
        <button type="button" class="btn danger delete">Delete</button>
        <input type="checkbox" class="toggle">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span16">
        <table class="zebra-striped"><tbody class="files"></tbody></table>
        <div id="loading"> </div>
      </div>
    </div>
  <% end %>
  <script>
    var fileUploadErrors = {
      maxFileSize: 'File is too big',
      minFileSize: 'File is too small',
      acceptFileTypes: 'Filetype not allowed',
      maxNumberOfFiles: 'Max number of files exceeded',
      uploadedBytes: 'Uploaded bytes exceed file size',
      emptyResult: 'Empty file upload result'
    };
  </script>

  <!-- IMPORTANT fade class makes fileupload depend on css transition effect REMOVE or RENAME it -->
  <script id="template-upload" type="text/html">
    {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
    <tr class="template-upload nofade">
      <td class="preview"><span class="nofade"></span></td>
      <td class="name">{%=file.name%}</td>
      <td class="size">{%=o.formatFileSize(file.size)%}</td>
      {% if (file.error) { %}
      <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
      {% } else if (o.files.valid && !i) { %}
      <td class="progress"><div class="progressbar"><div style="width:0%;"></div></div></td>
      <td class="start">{% if (!o.options.autoUpload) { %}<button class="btn primary"><%= t('photos.template.start') %></button>{% } %}</td>
      {% } else { %}
      <td colspan="2"></td>
      {% } %}
      <td class="cancel">{% if (!i) { %}<button class="btn info"><%= t('photos.template.cancel') %></button>{% } %}</td>
    </tr>
    {% } %}
  </script>
  <script id="template-download" type="text/html">
    {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
    <tr class="template-download nofade">
      {% if (file.error) { %}
      <td></td>
      <td class="name">{%=file.name%}</td>
      <td class="size">{%=o.formatFileSize(file.size)%}</td>
      <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
      {% } else { %}
      <td class="preview">{% if (file.thumbnail_url) { %}
        <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery"><img src="{%=file.thumbnail_url%}"></a>
      {% } %}</td>
      <td class="name">
        <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}">{%=file.name%}</a>
      </td>
      <td class="size">{%=o.formatFileSize(file.size)%}</td>
      <td colspan="2"></td>
      {% } %}
      <td class="delete">
      <button class="btn danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"><%= t('photos.template.delete') %></button>
      <input type="checkbox" name="delete" value="1">
      </td>
    </tr>
    {% } %}
  </script>
</div>


