<%= form_for(@admin_item, :html => {:class=> 'form-horizontal'}) do |f| %>
  <% if @admin_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_item.errors.count, "error") %> prohibited this admin_item from being saved:</h2>

      <ul>
      <% @admin_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.submit "Save", :class => 'btn btn-primary float-right' %>
  <%= f.hidden_field :type_id, { :value => @type_id } %>
  <fieldset>
  <legend>Details</legend>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'span6' %>
      <p class="help-block"><i class="icon-question-sign"></i> Short description</p>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :rows => 5, :class => 'span6' %>
      <p class="help-block"><i class="icon-question-sign"></i> Full description</p>
    </div>
  </div>
  </fieldset>
  
  <% @categories.each do |category| %>
    <fieldset>
    <legend><%= category.label %></legend>
    <% category.fields.each do |field| %>
      <div class="control-group">
        <%= f.label field.label, :class => 'control-label' %>
         <div class="controls">
         </div>
      </div>
    <% end %>
  <% end %>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
