<% content_for :top_javascript do %>
  <%= javascript_include_tag "jquery-upload" %>
<% end %>

<span id="sidebar">

<div class="well" style="padding: 8px 0;">  
  <ul class="nav nav-list">
    <li class="nav-header">Templates</li>
    <% @templates.each do |component| %>
      <li <%= 'class=active' if !@component.nil? and component.title == @component.title  %> ><%= link_to component.title, edit_admin_component_path(component) %></li>
    <% end %>
    <li><%= link_to 'New Template...', new_admin_component_path(:type => 1) %></li>
  </ul>
  <ul class="nav nav-list">
    <li class="divider"></li>
    <li class="nav-header">Pages</li>
    <% @pages.each do |component| %>
      <li <%= 'class=active' if !@component.nil? and component.title == @component.title  %> ><%= link_to component.title, edit_admin_component_path(component) %></li>
    <% end %>
    <li><%= link_to 'New Page...', new_admin_component_path(:type => 2) %></li>
  </ul>
  <ul class="nav nav-list">
    <li class="divider"></li>
    <li class="nav-header">Stylesheets</li>
    <% @stylesheets.each do |component| %>
      <li <%= 'class=active' if !@component.nil? and component.title == @component.title  %> ><%= link_to component.title, edit_admin_component_path(component) %></li>
    <% end %>
    <li><%= link_to 'New Stylesheet...', new_admin_component_path(:type => 3) %></li>
  </ul>
  <ul class="nav nav-list">
    <li class="divider"></li>
    <li class="nav-header">Javascripts</li>
    <% @javascripts.each do |component| %>
      <li <%= 'class=active' if !@component.nil? and component.title == @component.title  %> ><%= link_to component.title, edit_admin_component_path(component) %></li>
    <% end %>
    <li><%= link_to 'New Javascript...', new_admin_component_path(:type => 4) %></li>
  </ul>
  <ul class="nav nav-list">
    <li class="divider"></li>
    <li class="nav-header">Assets</li>
    <div id="progress" class="progress progress-striped active" style="display:none">
      <div class="bar"></div>
    </div>
    <span class="uploading"></span>
    <span class="assets"></span>
    <% @assets.each do |asset| %>
      <% puts asset.inspect %>
      <%= render :partial => 'admin/assets/asset', :locals => {:asset => asset} %>
    <% end %>
    <li><%= render 'admin/assets/upload_form' %></li>
  </ul>
</div>
<div class="well">
  <ul>
    <li>{{page.title}}</li>
    <li>{{page.content}}</li>
    <li>{{agency.name}}</li>
    <li>{{agency.items}}</li>
    <li>{{item.title}}</li>
    <li>{{item.description}}</li>
    <li>{% includecurrentpage %}</li>
    <li>{% includestylesheet <stylesheet title> %}</li>
    <li>{% includejavascript <javascript title> %}</li>
  </ul>
</div>
</span>