<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>
<div class="block">
  <h1>
    Fields
    <button class="btn btn-primary float-right">New Field</button>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Label</th>
        <th>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @fields.each do |field| %>
        <tr>
          <td><%= field.label %></td>
          <td>
            <%= form_for field, :remote => true, :html => { :class => "slim" } do |f| %>
              <%= f.collection_select :category_id, @categories, :id, :label, :prompt => true,   %>
            <% end %>
          </td>
          <td><%= link_to 'Delete', field, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


